#-------------------------------------------------
# user configuration file
#
# edit this file to define required file paths on
# your system
#-------------------------------------------------

# path to OGDF installation directory

OGDF_INSTALL_PATH_DEBUG = C:/OGDF/Win32/Debug
OGDF_INSTALL_PATH_RELEASE = C:/OGDF/Win32/Release
OGDF_INCLUDE_PATH = C:/OGDF

#OGDF_INSTALL_PATH_DEBUG = /home/martin/Stažené/OGDF/_debug
#OGDF_INSTALL_PATH_RELEASE = /home/martin/Stažené/OGDF/_release
#OGDF_INCLUDE_PATH = /home/martin/Stažené/OGDF
